html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #253859;
	color: #aaaaaa;
	font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
}

div {
	display: inline-block;

}

#container {
	width: 100%;
}

#threads {
	width: 20%;
	height: 100%;
	margin: none;
	vertical-align: top;
}

#conversation {
	width: calc(80% - 5px);
	margin: none;
	height: 100%;
}

#messages {
	display: block;
	overflow-y: scroll;
	padding: 10px;
	height: 600px;
	width: calc(100% - 20px);
	background-color: #203354;
}

#input {
	padding-top: 8px;
	display: block;
	height: 40px;
}

#input input {
	background-color: #203354;
	padding: 10px;
	width: calc(100% - 21px);
	height: calc(100% - 20px);
	border: none;
	color: #aaaaaa;
	outline: none;
	font: inherit;
}

.message {
	display: block;	
	width: 100%;
	margin-top: 10px;
}

.self, .self.timestamp, .self.sender {
	text-align: right;
}

.timestamp, .sender {
	display: block;
	color: #777777;
	font-size: 13px;
}

.body {
	
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #5568a9;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a5b8f9;
}
::-webkit-scrollbar-thumb:active {
  background: #5568a9;
}
::-webkit-scrollbar-track {
  background: #253859;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #253859;
}
::-webkit-scrollbar-track:active {
  background: #253859;
}
::-webkit-scrollbar-corner {
  background: transparent;
}